# 依赖目录
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# 构建输出
build
dist

# 版本控制
.git
.github
.gitignore

# 开发环境配置
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# 其他
README.md
Dockerfile
.dockerignore
coverage
.DS_Store 